.maintextstyle {
    color: blueviolet;
}

#profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.description-text {
    margin: auto;
}

.site-header {
    font-family: 'Roboto Mono', monospace;
    text-shadow: black 10px 10px 15px;
    
}

.main-contain {
    
    box-shadow: black 5px 5px 10px;
    
}